.ul_progress{
    display: flex;
    justify-content: center;
}
.ul_progress .li_progress{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ul_progress .li_progress .icon{
    font-size: 35px;
    color: #F7941D;
    margin: 0 60px;
}
.ul_progress .li_progress .text{
    margin-top: 14px;
    font-size: 14px;
    font-weight: 600;
    color: black;
}

/* Progress Div Css  */

.ul_progress .li_progress .step_progress{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(68, 68, 68, 0.781);
    margin: 14px 0;
    display: grid;
    place-items: center;
    color: #fff;
    position: relative;
    cursor: pointer;
}
.step_progress::after{
    content: " ";
    position: absolute;
    width: 125px;
    height: 5px;
    background-color: rgba(68, 68, 68, 0.781);
    right: 30px;
}
.one::after{
    width: 0;
    height: 0;
}
.ul_progress .li_progress .step_progress .uil{
    display: none;
}
.ul_progress .li_progress .step_progress p{
    font-size: 20px;
}

/* Active Css  */

.ul_progress .li_progress .active{
    background-color: #F7941D;
    display: grid;
    place-items: center;
}
.li_progress .active::after{
    background-color: #F7941D;
}
.ul_progress .li_progress .active p{
    display: none;
}
.ul_progress .li_progress .active .uil{
    font-size: 20px;
    display: flex;
}

/* Responsive Css  */
@media (max-width: 850px) {
    .ul_progress{
        flex-direction: column;
    }
    .ul_progress .li_progress{
        flex-direction: row;
        margin-left: 220px;
    }
    .ul_progress .li_progress .step_progress{
        margin: 0 30px;
    }
    .step_progress::after{
        width: 5px;
        height: 52.5px;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(68, 68, 68, 0.781);
    }
    .one::after{
        height: 0;
    }
    .ul_progress .li_progress .icon{
        margin: 15px 0;
    }
}
@media (max-width: 550px) {
    .ul_progress{
        flex-direction: column;
        justify-content: center;
    }
    .ul_progress .li_progress{
        flex-direction: row;
        margin-left: 60px;
    }
    .ul_progress .li_progress .step_progress{
        margin: 0 30px;
    }
    .step_progress::after{
        width: 5px;
        height: 52.5px;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(68, 68, 68, 0.781);
    }
    .one::after{
        height: 0;
    }
    .ul_progress .li_progress .icon{
        margin: 15px 0;
    }
}